.home-container{
    width: 100vw;
    height: 100vh;
    color: white;
}

.gradient-text {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(45deg, #757271, #4754a2); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.upper{
    margin-top: 20vh;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.upper .intro h1{
    font-size:50px;
}

.home-container button{
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 24px;
}
.towatch{
    margin-top: 20px;
    margin-bottom: 200px;
}

.towatch a{
    text-decoration: none;
}

