.search{
    box-sizing: border-box;
    display: flex;
    position: sticky;
    top: 110px;
    right: 10px;
    margin-top: 5px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    background: transparent;
    z-index: 5;
}

.search input{
    border: none;
    background: #413f44;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.search img{
    cursor: pointer;
}

@media only screen and (max-width: 450px){
    .search{
        top: 70px;
    }
}